@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.sidebar {
  width: 352px;
  position: fixed;
}

.navigation {
  background-color: #121212;
  margin: 8px;
  margin-top: 8px;
  border-radius: 10px;
  padding: 18px 8px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation ul li a {
  color: #4c4c4c;
}

.navigation ul li a:hover {
  color: white;
}

.navigation ul li a span {
  margin: 12px 5px;
}

.fa-plus {
  float: right;
}

.logo a img {
  height: 24px;
  width: 78px;
}

.fa {
  font-size: 1.5rem;
}

.glow {
  color: white;
}

.text {
  font-size: 1.125rem;
}

.scroll {
  height: 180px;
  border-radius: 2px 2px 2px 2px;
  overflow-y: auto;
}

.scroll::-webkit-scrollbar {
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background: transparent;
  width: 5px;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
  width: 5px;
}

.playlist {
  margin-bottom: 10px;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #242424;
}

.podcast {
  margin-bottom: 10px;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #242424;
}

.playlist a h4 {
  font-size: 1rem4;
  color: white;
  margin-bottom: 20px;
}

.podcast a h4 {
  font-size: 1rem;
  color: white;
  margin-bottom: 20px;
  font-weight: 800;
}

.playlist a p {
  font-size: 0.875rem4;
  color: white;
  margin-bottom: 20px;
}

.podcast a p {
  font-size: 0.875rem;
  color: white;
  margin-bottom: 20px;
}

.scroll button {
  padding: 8px 20px;
  outline: 0;
  border: 0;

  border-radius: 20px;
  margin-bottom: 10px;
}

.scroll button:hover {
  transform: scale(1.05);
}

.privacy ul li {
  justify-content: space-between;
  padding: 8px;
  font-size: 0.8125rem;
}

.privacy ul li a {
  margin-right: 11px;
}

.privacy ul li a:hover {
  color: white;
  text-decoration: underline;
}

.privacy {
  padding: 20px 0;
}

.lang button {
  border-radius: 50px;
  padding: 13px 20px;
  font-size: 0.875rem;
  outline: 0;
  border: 1px solid white;
  background: transparent;
  color: white;
  margin-left: 10px;
  margin-bottom: 22px;
}

.lang button:hover {
  transform: scale(1.05);
}

.mainsection {
  margin-left: 352px;
  margin-right: 8px;
  background: black;
  margin-top: 8px;
  position: fixed;
}

.mainsection .topnav {
  display: flex;
  background: #101010;
  width: 1168px;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 10px 10px 0 0;
  opacity: 0.9;
}

.topnav .prevbtn button {
  background: #1c1c1c;
  padding: 6px;
  color: white;
  border: 0;
  font-size: 1.125rem;
  border-radius: 100%;

  margin-top: 8px;
}

.topnav .login button {
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 50px;
}
/**Buttons login and signup**/

.Sign-up {
  background: transparent;
  outline: 0;
  border: 0;
  color: #a7a7a7;
}

.Sign-up:hover {
  background: transparent;
  outline: 0;
  border: 0;
  color: white;
}

.log-in {
  outline: 0;
  border: 0;
}

.log-in:hover {
  color: black;
  transform: scale(1.05);
}

.playlists {
  background-color: #1f1f1f;
  border-radius: 0 0 10px 10px;
}

.playlists .popular-artist a p {
  color: white;
  font-size: 1.5rem;

  padding: 8px;
  margin-left: 8px;
}

.artists-img {
  display: flex;
  padding: 8px;
}

.artists-img img {
  border-radius: 100px;
  margin: 8px;
  width: 175px;
  height: 175px;
}

.artists-img button {
  background: transparent;
  outline: 0;
  border: 0;
  border-radius: 10px;
}

.artists-img button:hover {
  background: #191919;
  opacity: 0.85;
}

.artists-img button h4 {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 8px;
  color: #e1e1e1;
  font-size: 1rem;
}

.artists-img button p {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #a1a1a1;
  font-size: 0.875rem;
}

.artists-img .play {
  position: relative;
}

.artists-img .play i {
  position: absolute;
  background: #1fde64;
  border-radius: 50%;
  padding: 15px;
  right: 10px;
  top: -120px;
  font-size: 1.25rem;
  opacity: 0;
  transform: 0.3s ease all;
}

.artists-img button:hover .play i {
  background: #1fde64;
  opacity: 1;
}

.album {
  display: flex;
  padding: 11px;
}

.album img {
  margin: 8px;
  width: 175px;
  height: 175px;
  border-radius: 8px;
}

.album button {
  background: transparent;
  outline: 0;
  border: 0;
  border-radius: 10px;
}

.album button:hover {
  background: #191919;
  opacity: 0.85;
}

.album button h4 {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 8px;
  color: #e1e1e1;
  font-size: 1rem;
}

.album button p {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #a1a1a1;
  font-size: 0.8125rem;
  font-weight: 700;
}

.album .play {
  position: relative;
}

.album .play i {
  position: absolute;
  background: #1fde64;
  border-radius: 50%;
  padding: 15px;
  right: 10px;
  top: -90px;
  font-size: 1.25rem;
  opacity: 0;
  transform: 0.3s ease all;
}

.album button:hover .play i {
  background: #1fde64;
  opacity: 1;
}

.playlists .popular-albums a p {
  color: white;
  font-size: 1.5rem;

  padding: 8px;
  margin-left: 8px;
}

.playlists .popular-radio a p {
  color: white;
  font-size: 1.5rem;

  padding: 8px;
  margin-left: 8px;
}

.playlists .featured-charts a p {
  color: white;
  font-size: 1.5rem;

  padding: 8px;
  margin-left: 8px;
}

.playlists .spotify-playlists a p {
  color: white;
  font-size: 1.5rem;

  padding: 8px;
  margin-left: 8px;
}

.playlists .spotify-ex-shows a p {
  color: white;
  font-size: 1.5rem;

  padding: 8px;
  margin-left: 8px;
}

.playlists .trending-epi a p {
  color: white;
  font-size: 1.5rem;

  padding: 8px;
  margin-left: 8px;
}

.scrollmain {
  height: 581px;
  overflow-y: auto;
  border-radius: 0 0 10px 10px;
}

.scrollmain::-webkit-scrollbar {
  background: transparent;
}

.scrollmain::-webkit-scrollbar-thumb {
  background: transparent;
}

.scrollmain:hover::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
}

.footer-section {
  padding: 20px 40px;
}

.footer-section .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-section .footer .footer-links {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.footer-section .footer .footer-links .footer-columns {
  margin: 0 12px;
}

.footer-section .footer .footer-links div {
  color: white;

  margin-bottom: 12px;
  font-size: 1rem;
}

.footer-section .footer .footer-links ul li {
  list-style: none;
  margin: 6px 0;
}

.footer-section .footer .footer-links ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #969393;
  cursor: pointer;
}

.footer-section .footer .footer-links ul li a:hover {
  text-decoration: underline;
  color: white;
}

.footer .social-links i {
  color: white;
  background: #353434;
  padding: 12px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.footer .social-links i:hover {
  background: #4e4e4e;
}

hr {
  margin: 20px 20px;
  background: #403f3f;
  border: 0;
  outline: 0;
  border: 1px solid #2a2a2a;
  margin-top: 40px;
}

.copyright {
  padding: 0 40px;
  color: #969393;
  font-size: 0.9375rem;
  margin-bottom: 30px;
}

.preview {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ae2896, #509bf5);
  position: fixed;
  top: 658px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 15px;
  margin: 8px 8px;
  border-radius: 1px;
}

.preview h4 {
  font-size: 0.875rem;

  margin-bottom: 0.5rem;
  color: white;
}

.preview p {
  font-size: 0.9rem;
  font-weight: 300;
  color: white;
}

.preview button {
  text-align: center;
  white-space: nowrap;
  padding: 11px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  font-size: 0.875rem;

  color: black;
}
